<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/myscrips/AddRepertory.js"></script>
</head>
<body>
    <div class="modal fade in" style="display: none" aria-hidden="true" id="addrepertory">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
                    <h4 class="modal-title">请输入版本号</h4>
                </div>
                <br />
                <div class="modal-body">
                    <label for="repertoryName">版本名称</label>
                    <br/>
                    <input type="text" name="repertoryName" id="repertoryName" style="width:800px" placeholder="请输入版本名称" />
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addRepertory()">添加</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
                <div class="progress" id="addRepertoryProgress" style="display: none">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HiveNMS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">历史版本</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">其他功能<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">其他功能</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a data-toggle="modal" href="#addrepertory"><span class="glyphicon glyphicon-circle-arrow-up"></span><strong>发布新版本</strong></a>
                </li>
                <li>
                    <a href="#" style="color: black; background-color: aliceblue">登录</a>
                </li>
                <li>
                    <a class="glyphicon glyphicon-comment"title="意见" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - 蜂巢网管发布平台</p>
    </footer>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
